<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Words Online!</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <h1>Unscramble this word:</h1>

    {% if streak %}
        <p><strong>Streak: {{streak}}</strong></p>
    {% endif %}
    
    <h2>{{ jumbled_word }}</h2>

    <form method="post">
        <input type="text" name="guess" required>
        <button type="submit">Submit Guess</button>
    </form>


    {% if message %}
        <p><strong>{{message}}</strong></p>
    {% endif %}
</body>
</html>